<%= @user %>

<ul class="list-group">
  <%= for project <- @projects["data"]["user"]["watching"]["edges"] do %>
    <li class="list-group-item">
      <%= project["node"]["name"] %>

    </li>
  <% end %>
</ul>